#showDesign, #showDevelopment, #showProduct {
    display: none;
}
.col-md-3{
    padding-right: 2%;
    width: 15vw;
    height: 30vh;
    text-align: center;
}
.row {
    justify-content: space-evenly;
}
.portfolio img{
    height: 30vh;
    width: 19vw;
}
*{
    text-align: center;
}